.root{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    /*margin-bottom:10px; 
    margin-top:10px;*/
    background-color: #E0F2F1
}

.posts{
    width:80%;
    min-height: 1200px;
}