.Header__headerBase-1KY5V {
  position: fixed;
  top: 0px;
  background-color: #E3F2FD; }

.Header__headerSiteName-2kLEG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #01579B; }
