@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url('../../../client/assets/Pacifico.woff2') format('woff2');
}

/*第一屏*/
.avatar{
  width:100%;
  border-radius:50%;
}

.siteIntro{
  font-family: 'Pacifico',cursive;
  font-size: 3em;
}
